{% include 'base.html' %}

{% block style%}
{% endblock style %}


{% block content %}
<div class="alert alert-primary d-flex" role="alert">
    <a href="/" class='btn'>Home</a>
    <a href="/crud" class='btn'>Add New CRUD</a>
</div>
<div class='row container-fluid d-flex text-center mb-4'>
    <h4 class='mt-2'>CRUD Display</h4>
</div>

<div class="row container-fluid">
    <div class="col-6">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="text-center">
                    <th>SL. No.</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>Action Delete</th>
                    <th>Action Edit</th>

                </tr>
            </thead>
            <tbody>
                {% for disp in dis %}
                <tr class="text-center">
                    <td>{{forloop.counter}}</td>
                    <td>{{disp.first_name}}</td>
                    <td>{{disp.last_name}}</td>
                    <td>
                        <form class="text-center" action="{% url 'delete' disp.id %}" method="POST">
                            {% csrf_token %}
                       
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Delete
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h5>Are Your Sure to Detele The Details</h5>
                                            <button type="submit" class='btn btn-success btn-sm'>Yes</button>
                                            <button type="button" class="btn btn-danger btn-sm"
                                            data-bs-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button type="submit" class='btn btn-success btn-sm'>Edit</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}